
.DS_Store
GuessThePokemon.xcodeproj/project.xcworkspace/xcuserdata/amol.xcuserdatad/UserInterfaceState.xcuserstate
GuessThePokemon.xcodeproj/xcuserdata/amol.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
GuessThePokemon.xcodeproj/xcuserdata/amol.xcuserdatad/xcschemes/xcschememanagement.plist
GuessThePokemon/.DS_Store
GuessThePokemon/Assets.xcassets/.DS_Store
GuessThePokemon/Color.xcassets/.DS_Store
GuessThePokemon/CommonViews/.DS_Store
GuessThePokemon/Services/.DS_Store
GuessThePokemon/Views/.DS_Store
